

*{

    font-family: "Prompt", sans-serif;
    font-weight: 300;
    font-style: normal;
}
.body-web{
    background-color: rgb(255,242,216);
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    /*border : 2px solid black ;*/
}
.quiz-box{

   /* border : 2px solid red ;*/
    margin: 10px;
    margin-top: 50px;
    padding: 10px;
    border-radius : 10px ;
    background-color: white;
    box-shadow: 1px 1px 5px 1px gray;



    width : 80% ; 
    height : 50%;

}
.quiz-header-box{
    /* border : 2px solid red ;*/
    display: flex;
    justify-content: center;
     margin: 10px;
     padding: 10px;
 
 }
.quiz-content-box{
   /* border : 2px solid red ;*/
    margin: 10px;
    padding: 10px;

}
.quiz-btn-box{
    display: inline-block;
    justify-content: center;
    width : 100% ; 

    border : 2px solid red ;
    flex-direction: column;
}
.quiz-btn{
    
    border : 2px solid green ;
    color: black;

    font-weight: 500;
    margin: 10px;
    padding: 10px;
    border-radius : 10px ;

    background-color: #FFCC99;
}